/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        // Tap-dance for gaming layer access
        to_gaming: to_gaming {
            compatible = "zmk,behavior-tap-dance";
            label = "TO_GAMING";
            #binding-cells = <0>;
            bindings = <&mo 5>, <&to 3>;  // Single tap = momentary RAISE, double = lock to Gaming
        };

        // Tap-dance to return from gaming to OS layers
        to_os_layer: to_os_layer {
            compatible = "zmk,behavior-tap-dance";
            label = "TO_OS_LAYER";
            #binding-cells = <0>;
            bindings = <&mo 6>, <&to 0>;  // Single tap = momentary gaming raise, double = return to Mac
        };
    };

    combos {
        compatible = "zmk,combos";
    };

    keymap {
        compatible = "zmk,keymap";

        mac_base {
            display-name="MAC";
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | CMD  |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | LOWR | BKSP | SPC |   | ENT | RAISE| ALT |

            bindings = <
&kp TAB    &kp Q  &kp W  &kp E   &kp R          &kp T        &kp Y    &kp U        &kp I      &kp O    &kp P     &kp LGUI
&kp LCTRL  &kp A  &kp S  &kp D   &kp F          &kp G        &kp H    &kp J        &kp K      &kp L    &kp SEMI  &kp SQT
&kp LSHFT  &kp Z  &kp X  &kp C   &kp V          &kp B        &kp N    &kp M        &kp COMMA  &kp DOT  &kp FSLH  &kp ESC
                         &mo 4   &kp BACKSPACE  &kp SPACE    &kp RET  &to_gaming   &kp RALT
            >;
        };

        windows_base {
            display-name="WINDOWS";
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | CTRL |
            // | GUI  |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | LOWR | BKSP | SPC |   | ENT | RAISE| ALT |

            bindings = <
&kp TAB    &kp Q  &kp W  &kp E   &kp R          &kp T        &kp Y    &kp U        &kp I      &kp O    &kp P     &kp LCTRL
&kp LGUI   &kp A  &kp S  &kp D   &kp F          &kp G        &kp H    &kp J        &kp K      &kp L    &kp SEMI  &kp SQT
&kp LSHFT  &kp Z  &kp X  &kp C   &kp V          &kp B        &kp N    &kp M        &kp COMMA  &kp DOT  &kp FSLH  &kp ESC
                         &mo 4   &kp BACKSPACE  &kp SPACE    &kp RET  &to_gaming   &kp RALT
            >;
        };

        linux_base {
            display-name="LINUX";
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | CTRL |
            // | GUI  |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | LOWR | BKSP | SPC |   | ENT | RAISE| ALT |

            bindings = <
&kp TAB    &kp Q  &kp W  &kp E   &kp R          &kp T        &kp Y    &kp U        &kp I      &kp O    &kp P     &kp LCTRL
&kp LGUI   &kp A  &kp S  &kp D   &kp F          &kp G        &kp H    &kp J        &kp K      &kp L    &kp SEMI  &kp SQT
&kp LSHFT  &kp Z  &kp X  &kp C   &kp V          &kp B        &kp N    &kp M        &kp COMMA  &kp DOT  &kp FSLH  &kp ESC
                         &mo 4   &kp BACKSPACE  &kp SPACE    &kp RET  &to_gaming   &kp RALT
            >;
        };

        gaming {
            display-name="GAMING";
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | ESC  |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | CTRL |
            //                    | ALT | BKSP | SPC |   | ENT | G_RSE| toOS|

            bindings = <
&kp TAB    &kp Q  &kp W  &kp E     &kp R          &kp T        &kp Y    &kp U          &kp I      &kp O    &kp P     &kp BSPC
&kp ESC    &kp A  &kp S  &kp D     &kp F          &kp G        &kp H    &kp J          &kp K      &kp L    &kp SEMI  &kp SQT
&kp LSHFT  &kp Z  &kp X  &kp C     &kp V          &kp B        &kp N    &kp M          &kp COMMA  &kp DOT  &kp FSLH  &kp LCTRL
                         &kp LALT  &kp BACKSPACE  &kp SPACE    &kp RET  &to_os_layer   &mo 7
            >;
        };

        lower_layer {
            display-name="LOWER";
            // -----------------------------------------------------------------------------------------
            // |  `   |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | DEL  |
            // |      | F1  | F2  | F3  | F4  | F5  |   | F6  | F7  | F8  | F9  | F10 | F11  |
            // |      | LFT | DWN |  UP | RGT | HOME|   | END |PG_DN|PG_UP|BR_DN|BR_UP| F12  |
            //                    |     |XXXXX|     |   |     |     |     |

            bindings = <
&kp GRAVE  &kp N1    &kp N2    &kp N3    &kp N4     &kp N5       &kp N6   &kp N7     &kp N8     &kp N9           &kp N0           &kp DEL
&trans     &kp F1    &kp F2    &kp F3    &kp F4     &kp F5       &kp F6   &kp F7     &kp F8     &kp F9           &kp F10          &kp F11
&trans     &kp LEFT  &kp DOWN  &kp UP    &kp RIGHT  &kp HOME     &kp END  &kp PG_DN  &kp PG_UP  &kp C_BRI_DN     &kp C_BRI_UP     &kp F12
                               &trans    &trans     &trans       &trans   &trans     &trans
            >;
        };

        raise_layer {
            display-name="RAISE";
            // -----------------------------------------------------------------------------------------
            // |  ~   |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | DEL  |
            // |      |MUTE |VOL- |VOL+ |     |     |   |  -  |  =  |  [  |  ]  |  \  |  "   |
            // |      |PREV |PLAY |NEXT |  <  |  >  |   |  _  |  +  |  {  |  }  |  |  | SETNG|
            //                    |     |     |     |   |     |XXXXX| ALT |

            bindings = <
&kp TILDE  &kp EXCL      &kp AT        &kp HASH       &kp DLLR  &kp PRCNT    &kp CARET  &kp AMPS   &kp ASTRK  &kp LPAR  &kp RPAR  &kp DEL
&trans     &kp C_MUTE    &kp C_VOL_DN  &kp C_VOL_UP   &trans    &trans       &kp MINUS  &kp EQUAL  &kp LBKT   &kp RBKT  &kp BSLH  &kp DQT
&trans     &kp C_PREV    &kp C_PP      &kp C_NEXT     &kp LT    &kp GT       &kp UNDER  &kp PLUS   &kp LBRC   &kp RBRC  &kp PIPE  &mo 7
                                       &trans         &trans    &trans       &trans     &trans     &kp RALT
            >;
        };

        gaming_raise {
            display-name="GAME_RAISE";
            // -----------------------------------------------------------------------------------------
            // |      |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  |      |
            // |      | F1  | F2  | F3  | F4  | F5  |   | F6  | F7  | F8  | F9  | F10 | F11  |
            // |      |     |     |     |     |     |   |     |     |     |     |     | F12  |
            //                    |     |     |     |   |     |XXXXX|     |

            bindings = <
&trans  &kp N1  &kp N2  &kp N3  &kp N4  &kp N5     &kp N6  &kp N7   &kp N8  &kp N9   &kp N0   &trans
&trans  &kp F1  &kp F2  &kp F3  &kp F4  &kp F5     &kp F6  &kp F7   &kp F8  &kp F9   &kp F10  &kp F11
&trans  &trans  &trans  &trans  &trans  &trans     &trans  &trans   &trans  &trans   &trans   &kp F12
                        &trans  &trans  &trans     &trans  &trans   &trans
            >;
        };

        settings_layer {
            display-name="SETTINGS";
            // -----------------------------------------------------------------------------------------
            // |BTCLR | BT0 | BT1 | BT2 | BT3 | BT4 |   |     |     |     |     |     |      |
            // | MAC  | WIN |LINUX|GAME |     |     |   |     |     |     |     |     |      |
            // |BTLDR |     |     |     |     |     |   |     |     |     |     |     |BTLDR |
            //                    |     |     |     |   |     |     |     |

            bindings = <
&bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &trans  &trans  &trans  &trans  &trans  &trans
&to 0       &to 1         &to 2         &to 3         &trans        &trans          &trans  &trans  &trans  &trans  &trans  &trans
&bootloader &trans        &trans        &trans        &trans        &trans          &trans  &trans  &trans  &trans  &trans  &bootloader
                                        &trans        &trans        &trans          &trans  &trans  &trans
            >;
        };
    };
};
